﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions



@{
    var culture = Context.Features.Get<IRequestCultureFeature>
        ().RequestCulture.Culture.TwoLetterISOLanguageName;
}

@using Microsoft.AspNetCore.Routing.Constraints;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Qaimaq | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/skin.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/js/flexslider/flexslider.css" rel="stylesheet" />
    <link href="~/js/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/js/php/contact-form.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/content-box.css" />
    <link rel="stylesheet" href="~/css/image-box.css" />
    <link rel="stylesheet" href="~/css/animations.css" />
    <link rel="stylesheet" href="~/css/components.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/contact-form.css" />
    <link rel="stylesheet" href="~/css/social.stream.css" />


</head>
<body>
    <header class="fixed-top scroll-change" data-menu-anima="fade-in">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
            <div class="navbar-mini scroll-hide">
                <div class="container">
                    <div class="nav navbar-nav navbar-left">
                        <span><a style="color:#7B7B7B" href="tel:+77272731363"><i class="fa fa-phone"></i>+7-727-2731363</a></span>
                        <hr />
                        <span><a style="color:#7B7B7B" href="mailto:info@qaimaq.tech"><i class="fa fa-envelope"></i>info@qaimaq.tech</a></span>
                        <hr />
                        <span><i class="fa fa-map-marker"></i>64 Zhibek Zholy, Kazakhstan</span>
                        <hr />
                        <span><i class="fa fa-calendar"></i>Mon - Fri: 9.00 - 18:00</span>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        <div class="minisocial-group">
                            <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-facebook first"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-vk"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index","Home")">
                            <img class="logo-default" src="../images/logo.png" alt="logo" />
                            <img class="logo-retina" src="../images/logo-retina.png" alt="logo" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="nav navbar-nav navbar-right">
                            <div class="search-box-menu">
                                <div class="search-box scrolldown">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                </div>
                                <button type="button" class="btn btn-default btn-search">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                            <ul class="nav navbar-nav lan-menu">
                                <li class="">
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal1"><i class="fa fa-globe"></i></a>

                                    @*
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Kazakh</a></li>
                                            <li><a href="#">Russian</a></li>
                                        </ul>
                                    *@
                                </li>
                            </ul>
                        </div>
                        <ul class="nav navbar-nav">
                            <li title="Home">
                                <a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                            </li>
                            <li class="dropdown mega-dropdown" title="Services">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">@Localizer["Services"] <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row bg-menu">
                                    <div class="col-md-4">
                                        <ul class="fa-ul no-icons text-s">
                                            <li><a asp-controller="Services" asp-action="BI">@Localizer["Business_Intelligence"]</a></li>
                                            <li><a asp-controller="Services" asp-action="WebDev">@Localizer["Web_Development"]</a></li>
                                            <li><a asp-controller="Services" asp-action="IT_Consulting">@Localizer["IT_Consulting"]</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="fa-ul no-icons text-s">
                                            <li><a asp-controller="Services" asp-action="IT_Outsourcing">@Localizer["IT_Outsource"]</a></li>
                                            <li><a asp-controller="Services" asp-action="Structured_Cabling">@Localizer["Structured_Cabling"]</a></li>
                                            <li><a asp-controller="Services" asp-action="Alerting_System">@Localizer["Alerting_System"]</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="fa-ul no-icons text-s">
                                            <li><a asp-controller="Services" asp-action="Fire_Alarm_System">@Localizer["Fire_Alarm_System"]</a></li>
                                            <li><a asp-controller="Services" asp-action="Access_control">@Localizer["Access_control"]</a></li>
                                            <li><a asp-controller="Services" asp-action="Video_Surveillance_System">@Localizer["Video_Surveillance_System"]</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown" title="Sales">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">@Localizer["Sales"] <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level fade-in" style="transition-duration: 300ms; animation-duration: 300ms; transition-timing-function: ease; transition-delay: 0ms;">
                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">@Localizer["Software"]</a>
                                        <ul class="dropdown-menu fade-in" style="transition-duration: 300ms; animation-duration: 300ms; transition-timing-function: ease; transition-delay: 0ms;">
                                            <li><a href="">@Localizer["Server_Systems"]</a></li>
                                            <li><a href="">@Localizer["Productivity"]</a></li>
                                            <li><a href="">@Localizer["Security"]</a></li>
                                            <li><a href="">@Localizer["Cloud"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">@Localizer["Hardware"]</a>
                                        <ul class="dropdown-menu fade-in" style="transition-duration: 300ms; animation-duration: 300ms; transition-timing-function: ease; transition-delay: 0ms;">
                                            <li><a href="">@Localizer["Servers"]</a></li>
                                            <li><a href="">@Localizer["Computers"]</a></li>
                                            <li><a href="">@Localizer["UPS"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">@Localizer["IT_Infrastructure"]</a>
                                        <ul class="dropdown-menu fade-in" style="transition-duration: 300ms; animation-duration: 300ms; transition-timing-function: ease; transition-delay: 0ms;">
                                            <li><a href="">@Localizer["Cables"]</a></li>
                                            <li><a href="">@Localizer["Network_Equipment"]</a></li>
                                            <li><a href="">@Localizer["Telco_Equipment"]</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li title="Portfolio">
                                <a asp-controller="Projects" asp-action="Index">@Localizer["Portfolio"]</a>
                            </li>
                            <li title="About">
                                <a asp-controller="Home" asp-action="About">@Localizer["About"]</a>
                            </li>
                            <li title="Contact">
                                <a asp-controller="Home" asp-action="Contact" title="Contact">@Localizer["Contact"]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Modal -->
    <!-- Start 1 modal-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align:center">Choose your language</h4>
                </div>

                <div class="col-sm-6 col-md-6">
                    <h3 style="text-align:center">Europe</h3>
                    <ul>
                        <li><a asp-area="" asp-route-culture="de">Deutschland</a></li>
                        <li><a asp-area="" asp-route-culture="en">England</a></li>
                        <li><a asp-area="" asp-route-culture="es">España</a></li>
                        <li><a asp-area="" asp-route-culture="fr">France</a></li>
                        <li><a asp-area="" asp-route-culture="it">Italia</a></li>
                        <li><a asp-area="" asp-route-culture="ru">Россия</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6">
                    <h3 style="text-align:center">Asia,Pacific</h3>
                    <ul>
                        <li><a asp-area="" asp-route-culture="en">Australia</a></li>
                        <li><a asp-area="" asp-route-culture="en">India</a></li>
                        <li><a asp-area="" asp-route-culture="kk">Казахстан</a></li>
                        <li><a asp-area="" asp-route-culture="zh">China</a></li>
                        <li><a asp-area="" asp-route-culture="ja">Japan</a></li>
                        <li><a asp-area="" asp-route-culture="ko">Korea</a></li>

                    </ul>
                </div>

                <div class="col-12 modal-footer">
                    <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!-- End 1 modal-->
    @RenderBody()
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-left text-left">
                        <img src="~/images/qaimaq-footer-logo.png" />

                        <hr class="space m" />
                        <p class="text-s">64 Zhibek Zholy. A26F3M9, Almaty, Kazakhstan.</p>
                        <div class="tag-row text-s">
                            <a href="mailto:info@qaimaq.com" class="link-qaimaq" style="border-right: 1px solid #CCC;padding-right: 16px;"><span>info@qaimaq.tech</span></a>
                            <a href="tel:+77272731363" class="link-qaimaq"><span>+7 727 2731363</span></a>
                        </div>
                        <hr class="space m" />

                    </div>
                    <div class="col-md-4 footer-left text-left">
                        <div class="row">
                            <div class="col-md-6 text-s">
                                <h3>Menu</h3>
                                <a href="#" class="footer-link">Home</a><br />
                                <a href="#" class="footer-link">Contacts</a><br />
                                <a href="#" class="footer-link">Future projects</a><br />
                                <a href="#" class="footer-link">Locations</a><br />
                                <a href="#" class="footer-link">Latest news</a><br />
                            </div>
                            <div class="col-md-6 text-s">
                                <h3>Pages</h3>
                                <a href="#" class="footer-link">Support</a><br />
                                <a href="#" class="footer-link">Terms of services</a><br />
                                <a href="#" class="footer-link">RSS Feeds</a><br />
                                <a href="#" class="footer-link">Partnerships</a><br />
                                <a href="#" class="footer-link">Latest news</a><br />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-left text-left">
                        <h3>You can trust us</h3>
                        <p class="text-s">
                            Utenim ad minim veniam quis nostrud exercitation ullamco lorem ipsum dolor sit ametullamco lorem ipsum dolor sit ametullamco lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmo.
                        </p>
                        <hr class="space xs" />
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook">
                                <i class="fa fa-facebook text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter">
                                <i class="fa fa-twitter text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google">
                                <i class="fa fa-google-plus text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin">
                                <i class="fa fa-linkedin text-xs circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2018 | <a href="https://qaimaq.tech/" class="link-qaimaq">Qaimaq</a>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/jquery.progress-counter.js"></script>
    <script src="~/js/jquery.tab-accordion.js"></script>
    <script src="~/js/bootstrap.popover.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/imagesloaded.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/php/contact-form.js"></script>
    <script src="~/js/social.stream.min.js"></script>
    <script src="~/js/smooth.scroll.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/google.maps.min.js"></script>
    <script>
        $(document).ready(function () {
            //Handles menu drop down
            $('.dropdown-menu-language').find('form').click(function (e) {
                e.stopPropagation();
            });
        });
    </script>
    @if (!string.IsNullOrEmpty(ViewBag.CurrentPage))
    {
        <script type="text/javascript">
        $(function () {
            $("li[title=@ViewBag.CurrentPage]").addClass("active");
        });
        </script>
    }

    @RenderSection("Scripts", required: false)



</body>
</html>
