﻿@{
    ViewData["Title"] = "Business Intellegence";
}
@{
    ViewBag.Title = "Services";
    ViewBag.CurrentPage = "Services";
}
<div class="header-title white" data-parallax="scroll" data-position="bottom" data-natural-height="1080" data-natural-width="1920" data-image-src="../images/titlebar/bi.jpg">
    <div class="container">
        <div class="title-base title-shadow">
            <hr class="anima" />
            <h1>Бизнес аналитика</h1>
            <p>Моделирование и прогнозирование бизнеса</p>
        </div>
    </div>
</div>
<div class="section-bg-color section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-7">
                <h2 class="text-normal">Визуализация данных</h2>
                <p class="text-color text-normal no-margins">Просто и понятно</p>
                <hr class="space s" />
                <p>
                    Визуальные дэшборды бизнес показателей на Ваших мобильных устройствах 24/7 защищенно и быстро!
                </p>
                <hr class="space s" />
                <div class="row" style="padding-top:40px">
                    <div class="col-md-4 col-sm-12">
                        <div class="icon-box counter-box-icon">
                            <div class="icon-box-cell">
                                <i class="fa fa-code text-l"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="counter text-m" data-speed="10000" data-to="1000000">1.000.000</label>
                                <p class="text-s">Code lines</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="icon-box counter-box-icon">
                            <div class="icon-box-cell">
                                <i class="fa fa-id-card-o text-l"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="counter text-m" data-speed="10000" data-to="450">450</label>
                                <p class="text-s">Partners</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="icon-box counter-box-icon">
                            <div class="icon-box-cell">
                                <i class="fa fa-gears text-l"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="counter text-m" data-speed="10000" data-to="100000">100.000</label>
                                <p class="text-s">Options</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="~/images/bg-2.jpg" />
            </div>
        </div>
        <hr class="space" />
        <hr class="space s" />
        <div class="row">
            <div class="col-md-6">
                <div class="grid-list gallery">
                    <div class="grid-box row" data-lightbox-anima="fade-top">
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-3.jpg">
                                <img src="../images/gallery/image-3.jpg" alt="" />
                            </a>
                        </div>
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-2.jpg">
                                <img src="../images/gallery/image-2.jpg" alt="" />
                            </a>
                        </div>
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-16.jpg">
                                <img src="../images/gallery/image-16.jpg" alt="" />
                            </a>
                        </div>
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-4.jpg">
                                <img src="../images/gallery/image-4.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <hr class="space visible-sm" />
                <h2 class="text-normal">Анализ данных</h2>
                <p class="text-color text-normal no-margins">Развивая будущее</p>
                <hr class="space s" />
                <p>
                    Моделирование бизнеса и прогнозирование макрофакторов индустрии путем сбора данных из разных источников
                </p>
                <hr class="space s" />
                <div class="row vertical-row">
                    <div class="col-md-3">
                        <p class="text-normal">Success rate</p>
                    </div>
                    <div class="col-md-9">
                        <hr class="space xs" />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="100">
                                <span><span>100%</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="space" />
        <hr class="space s" />
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-normal">Машинное обучение</h2>
                <p class="text-color text-normal no-margins">Инновации в бизнесе</p>
                <hr class="space s" />
                <p>
                    Внедрение элементов самообучающихся алгоритмов анализа данных - чем дольше работают, тем точнее модели
                </p>
                <hr class="space s" />
                <a href="#" class="btn-border btn btn-sm">Подробнее</a><span class="space"></span>
                <a href="#" class="btn btn-sm">Связаться</a>
            </div>
            <div class="col-md-3 col-sm-6 boxed-inverse shadow-2 text-center">
                <div class="progress-circle" data-color="#c91010" data-progress="78">
                    <div class="inner-circle">
                        <div class="inner-center">
                            <div class="subtitle c">
                                <h2 class="main">Прирост эффективности</h2>
                                <span class="counter-circle"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 boxed-inverse shadow-2 text-center">
                <div class="progress-circle" data-color="#c91010" data-progress="90">
                    <div class="inner-circle">
                        <div class="inner-center">
                            <div class="subtitle c">
                                <h2 class="main">Результат за год</h2>
                                <span class="counter-circle"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-6">
                <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline" method="post" data-email="federico@pixor.it">
                    <input id="email" name="email" placeholder="Type your email..." type="email" class="form-control form-value" required="">
                    <hr class="space m">
                    <button class="btn btn-sm" type="submit">Join now</button>
                    <div class="success-box">
                        <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                    </div>
                    <div class="error-box">
                        <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p class="text-s">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod iaculis eu
                    lacus nunc mi elitvehicula ut laoreet acaliquam.
                </p>
            </div>
        </div>
    </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>